aside{
    background-color: #f4ede4;
    border-bottom: 5px dashed #503006;
    border-top: 5px dashed #503006;
}


h1{
    font-family: sans-serif;
}


h2, h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header img{
    border: dashed #503006;
    border-radius: 15px;
}

body{
    background-color: #f4ede4;
}

.yazar1{
    font-style: italic;
}
/* "class" ile etiketlendiyse başına "." konur.*/

#yazar2{
    font-style: italic;
}
/* "id" ile etiketlendiyse başına "#" konur.*/

a{
    color: rgb(81, 81, 214);
}

body{
    border: solid 4px #5656b1;
}

img, p, h2, h3, ol, ul, aside, footer{
    margin: 5px;
}

a{
    margin: 3px;
}


/* 
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
li:nth-child(2) {
  color: red;
}
li:nth-child(odd) {
  color: green;
} 
  
"odd" tek sayılar için kullanılır.
 */


article p:first-child {
    color: rgb(30, 110, 181);
}
/* Bu kod çalışmaz çünkü article in ilk elemanı paragraf değil. */


article p:last-child {
    color: #5f2be3 ;
}

a:link{
    color: #5656b1;
    text-decoration: underline dotted;
}

a:hover{
    color: rgb(78, 22, 22);
    font-weight: 550;
}

/*
a:visited{
    color: hsl(262, 96%, 22%);
}
*/

a:active{
    color: hsl(264, 77%, 42%);
}

#telif {
    color: rgb(62, 7, 134);
    font-size: 14px;
  }

.telif {
    color: blue;
  }

.metin{
    color: pink;
  }

/* Styling Hyperlinks
-link
-active
-hover
-visited 
*/


/* Seçim karmaşasının engellenmesi için öncelik sırasına dikkat edilmesi gereklidir. Öncelik id etiketindedir.
footer p {
    color: green;
  }
  #telif {
    color: red;
    font-size: 14px;
  }
  .telif {
    color: blue;
  }
  .metin {
    color: pink;
  }

 Eğer tekrar elaman seçimi yapıp sonuna !important etiketini koyarsak işlem değişir.

  footer p {
    color: green !important;
  } 
*/ 


body{
  margin: 30px;
}

img{
  margin-left: 10px;
}

button{
  background-color: rgba(107, 16, 198, 0.538);
  border-radius: 6px;
  font-style: oblique;
}

button:hover{
  background-color:#5148b4;
  color: rgb(163, 170, 177);
  font-size: small;
  box-shadow: #0e0622 0px 15px 50px;
}

nav a:link{
  background-color: #c3c0ed;
  border-radius: 9px;
  padding: 5px;
}

/*.container{
  width: 800px;
  margin: 0 auto;
 } */